.branch-page {
    text-align: center;
    font-family: 'Arial', sans-serif; 
    background-color: #f7f7f7; 
    color: #333; 
}

.buttons {
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

button2 {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #14a12e;
    color: white; 
    border: none; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

button3 {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bd1616; 
    color: white;
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #003d82; 
}
button2:hover {
    background-color: #156c25; 
}
button3:hover {
    background-color:  #911111; 
}
.branches {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.branch-info {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 15px;
    width: 300px; 
    transition: box-shadow 0.3s ease; 
}

.branch-info:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); 
}

.branch-info h2 {
    color: #007bff; 
    font-size: 22px;
}

.branch-info h3 {
    font-size: 18px; 
    margin-top: 10px; 
}

.branch-info p {
    font-size: 16px; 
    line-height: 1.5; 
}

.branch-info ul {
    list-style-type: none; 
    padding-left: 0; 
}

.branch-info ul li {
    background-color: #e7e7e7; 
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-bottom: 5px; 
}

button.edit-button {
    background-color: #f0ad4e; 
    border-color: #eea236;
    margin-top: 10px;
}

button.edit-button:hover {
    background-color: #ec971f;
    border-color: #d58512;
}

.branch-info ul.employees-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.branch-info ul.employees-list li {
    background-color: #e7e7e7;
    border-radius: 5px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    position: relative; 
    height: auto;
}

.branch-info ul.employees-list li .employee-name {
    flex-grow: 1; 
    text-align: center; 
}

.branch-info ul.employees-list li .deleteButton {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%); 
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.branch-info ul.employees-list li .deleteButton img {
    width: 20px;
    height: 20px;
}

.branch-info ul.employees-list li .deleteButton:hover img {
    transform: scale(1.2); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }